html, body, pre {
  padding: 0;
  margin: 0;
  font-size: 1em;
}
body > div,
body > h1,
body > h2,
body > h3 {
  font-family: sans-serif;
  margin: 8px 10%;
}
body > h3 {
  font-size: 1.1em;
}
div.compare {
  margin: 0;
  padding: 8px 0 0 0;
  background: #F9F9F9;
}
div.compare > div {
  margin-left: 10%;
  margin-right: 10%;
}
div.compare > br {
  clear: left;
}
div.compare pre {
  width: 50%;
  float: left;
}
div.compare textarea {
  margin-right: 5%;
  width: 44%;
  float: left;
}
div.compare button {
  foat: left;
  margin-top: 16px;
}